u {
  text-decoration-color: rgb(14, 118, 168);
}

a {
  text-decoration: none;
  color: black;
}

/* ESTRELLAS DE VALORACION */
p.clasificacion {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

p.clasificacion input {
  position: absolute;
  top: -100px;
}

p.clasificacion span {
  float: right;
  color: rgb(14, 118, 168);
}

/* ------------------------------------- */

.producto:hover {
  background-color: rgb(191, 219, 231);
  -webkit-transform: scale(1.5);
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
