<div class="mt-3 card-shadow border border-primary rounded-3 shadow-sm border-2">
    <div class="card-body">
        <h4 class="card-title mt-3"><u>RE</u>SUMEN DE COMPRA</h4>
        <a class="d-flex justify-content-end mx-4" href=""><u>MODIFICAR</u></a>

        <div class="bg-info">
            <hr style="border: 1px solid rgb(14, 118, 168);">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="" alt="">
                    </div>
                    <div class="col-sm-7">
                        <p class="mx-3">Samsung Galaxy A22 5G, Blanco, 64 GB, 4 GB RAM</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="mx-3">183.20€</p>
                    </div>
                </div>
            <hr style="border: 1px solid rgb(14, 118, 168);">
            <div class="row">
                <div class="col-sm-2">
                    <img src="" alt="">
                </div>
                <div class="col-sm-7">
                    <p class="mx-3">Samsung Galaxy S20 FE 5G, 128GB, 6GB, 6.5"</p>
                </div>
                <div class="col-sm-3">
                    <p class="mx-3">510.50€</p>
                </div>
            </div>
            <hr style="border: 1px solid rgb(14, 118, 168);">
                <div class="row">
                    <div class="col-sm-2 offset-sm-2">
                        <p class="mx-3">ENVÍO</p>
                    </div>
                    <div class="col-sm-2 offset-sm-5">
                        <p class="mx-3">GRATIS</p>
                    </div>            
                </div>
        </div>
        
        <div class="mt-4 row">
            <div class="col-sm-2 offset-sm-2">
                <h5 class="mx-3"><b>TOTAL</b></h5>
            </div>
            <div class="col-sm-2 offset-sm-5">
                <h5 class="mx-3"><b>693,70€</b></h5>
            </div>
        </div>
    </div>
</div>